<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>hot-diagnose</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <div class="flex flex-row">
        <div class="basis-1/12"></div>
        <div class="basis-10/12">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Hot Diagnose</span>
            <br>
            <br>
            {% if ~Directories.__len__ %}
                {% for f in Files %}
                    <div class="{{f.__hash__}}">
                        <code>
                        {% for l in f.lines %}
                        <div class="{{l.__hash__}}">{{l.lineno}}:{{l.content|escape}}</div>
                        {% endfor %}
                        </code>
                    </div>
                {% endfor %}
            {% endif %}
            {% if Directories.__len__ %}
                {% for f in Files %}
                    <div class="{{f.__hash__}} invisible">
                        <code>
                        {% for l in f.lines %}
                        <div class="{{l.__hash__}}">{{l.lineno}}:{{l.content|escape}}</div>
                        {% endfor %}
                        </code>
                    </div>
                {% endfor %}
                {% for d in Directories%}
                    {%%}
                {% endfor %}
            {% endif %}

        </div>
        <div class="basis-1/12"></div>
    </div>
</body>
</html>